{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": true,
    "tsconfigRootDir": "."
  },
  "root": true,
  "overrides": [
    {
      "files": ["*.js"],
      "extends": [
        "plugin:@typescript-eslint/disable-type-checked"
      ]
    },
    {
      "files": ["*.ts"],
      "extends": [
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-unsafe-enum-comparison": "off"
      }
    }
  ]
}
